<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">{{blog.name}}</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                
                <a href="/admin/blogs/{{blog.alias}}/delete" class="btn btn-sm btn-outline-secondary">
                    <span data-feather="delete"></span>
                    Delete
                </a>   
            </div>
           
        </div>
    </div>
    <form action="/admin/blogs/{{blog.alias}}/update" method="post">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" name="name" id="name" placeholder="Blog name" value="{{blog.name}}">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="alias">Alias</label>
                    <input type="text" class="form-control" name="alias" id="alias" placeholder="Blog alias" value="{{blog.alias}}" readonly>
                </div>
            </div>
            
        </div>
        
       
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control" name="description" id="description" rows="11" value="{{blog.description}}">{{blog.description}}</textarea>
                </div>
            </div>

            
            
            <div class="col-md-6">
                <div class="form-group" style = "text-align:center">
                    <div> <label for="description">Cover Image</label><br> {{#if blog.image }}
                        <img src={{blog.image}} width="50%">
                        </div>
                    <br>
                    <a href="/admin/blogs/{{blog.alias}}/upload">
                        Change Cover Photo
                    </a>
                    {{else}}
                    <a href="/admin/blogs/{{blog.alias}}/upload" class="btn btn-sm btn-outline-secondary">
                        <span data-feather="upload"></span>
                        Upload Cover Photo
                    </a>
                    {{/if}}
                     
                </div>
            </div>
           
        </div>
         
                {{#if blog}}
                <button type="submit" class="btn btn-primary">Update</button>
                {{/if}}
            
    </form>
</main>